.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 0;
  padding: 10px;
  width: 90%;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  cursor: pointer;
}

.content a {
  text-decoration: none;
}

.item div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active .item {
  transition: margin-left 0.5s ease-in-out 0.1s;
  background: linear-gradient(180deg, #fd3a6c 0%, #f5855c 100%);
  margin-left: 5%;
}

.accountsItem .active::before {
  content: "●";
  color: red;
}

.accountsItem .active {
  display: flex;
  align-items: center;
}
