.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: "nav content";
  grid-template-columns: 2fr 10fr;
  background: #e5e5e5;
}

.nav {
  grid-area: nav;
  padding: 20px;
  border-right: 1px solid #fff;
}

.app-wrapper-content {
  grid-area: content;
}
