nav {
  display: inline-block;
  position: relative;
  height: 100%;
}
nav a {
  text-decoration: none;
  color: black;
}

.menuItem a.active {
  transition: margin-left 0.5s ease-in-out 0.1s;
  color: red;
  margin-left: 5%;
}

.menuItem a.active::before {
  content: "●";
}

.profileItem {
  display: block;
  position: absolute;
  bottom: 0;
}
