nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: black;
}

.menuItem a.active {
  transition: margin-left 0.5s ease-in-out 0.1s;
  color: red;
  margin-left: 5%;
}

.menuItem a.active::before {
  content: "●";
}

/* .profileItem {
  align-items: flex-end;
  bottom: 0;
} */
